html {
  max-width: 1024px;
  margin: auto;
}

header, footer {
  background-color: blue;
  border-radius: 2%;
  overflow: visible;
  max-width: 90%;
  margin: auto;
  color: white;
  text-align: center;
}

header h1 {
  color: white;
  padding: 1em;
  text-align: left;
}

#headerImage {
  float: right;
  margin: 1em;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
}

#headerImage img {
  width: 100%;
  height: auto;
}

header h2 {
  border-bottom: 2px solid black;
  height: 2em;
}

main {
  max-width: 90%;
  margin: auto;
  padding: 1em;
}

.content {
  padding: 2rem;

}

footer a {
  color: white;
}