
@media only screen and (min-width: 900px) {

    section.activities, div.activities {    
    grid-template-columns: repeat(3, 1fr);
  
  } 

  
  /* p.co_name {
    font-size: 32px;
    padding-top: 25px; */
  }
/* 
  p.co_motto {
    font-size: 26px; 
  }*/



}