/* 
Roughly 600 px as break point
*/
@media only screen and (min-width: 600px) {
   footer, main {
    margin: 5px;
  }

  .header__img {
    width: 150px;

  }

  .headings h1 {
    font-size: 2em;
  }
  
  .header__subText {
    font-size: 1.2em;
  }

  nav {
    grid-template-rows: 75px 60px 40px;
  }

  ul.navigation {
    grid-row: 3 / 4;
  }

  .navigation {
    display: flex;
  }

  nav.sticky {
    top:-133px;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
    align-self: stretch;
  }

  nav img.data {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: block;
    align-content: baseline;
  }

  nav span.data {
    grid-row: 2 / 3;
  }
    
  .hamburger {
    display: none;
  }
  
  img.large {
    display: inline-block;
    justify-self: center;
    align-self: center;
    margin: 6px;
  }

  p.co_name {
    color: #f1f8f8;
    font-family: Rye, cursive;
    font-size: 28px;
    justify-self: left;
    text-align: left;
    align-self: center;  
    grid-column: 3 / 5;
    grid-row: 1 / 2;  
    padding-top: 38px;
  }

  p.co_motto {
    font-family: Heebo, serif;
    color: #f1f8f8;
    font-weight: 400;
    font-size: 20px;
    justify-self: left; 
    align-self: center; 
    grid-column: 3 / 5;
    grid-row: 2 / 3;  

  }

  div.grid_container {
    grid-row: 1 / 3;
  }

  section.activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
  } 
 
}