
/** Color Pallet #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 */
html {
  line-height: .9;
}

body, #salesReport {
  font-family: Ubuntu, sans-serif;
  font-style: bold;
  text-align: center;
  padding: 10px;
}

table#salesReport {
  box-shadow: 5px 5px 8px 1px #628ca6;
}

table, th, td {
 border: 1px inset #c5c5c5;
 border-collapse: collapse;
 padding: 8px 9px;
 text-shadow: .5px .5px;
}

table#salesReport thead:first-child td {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  background-color: #7fb9c2;
}

table#salesReport thead:nth-child(2) td {
  font-size: 1.em;
  font-weight: normal;
}

table#salesReport tbody {
  font-size: .8em;
  padding: 1em;
}

table#salesReport tr:nth-child(even) {
  background-color: #e7ffed;
}
table#salesReport tr:nth-child(odd) {
  background-color: #e7f0ed;
}
table#salesReport th {
  color: white;
  letter-spacing: 1px;
  background-color: #628ca6;
  font-size: 12px;
}

table#salesReport tfoot tr td {
  font-size: .65em;
  padding: 10px;
  background-color: #7fb9c2;
}

table#salesReport tbody :nth-child(4)  :nth-child(3) {
  background-color: #628ca6;
  color: white;
}

tbody :nth-child(5) :first-child {
  font-style: italic;
}