
@media only screen and (min-width: 1000px) {

  .header__img {
  width: 200px;
  }

  main, footer {
    max-width: 1400px;
    width: 95%;
    margin: auto;
    height: auto;
  }

    footer {
    border-radius: 10px;
  }

  .headings h1 {
    font-size: 3em;
  }

  .header__subText {
    font-size: 1.5em;
  }

  #summary {
    max-width: 600px;
  }

  #summary h2 {
    font-size: 225%;
  } 

  #summary .table .header, 
  #summary .table .data {
    font-size: 175%; 
  }
  h2.gallery {
    width: 100%;
  }

  div.gallery {
    max-width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  span.caption {
    display: block;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}