/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Muli|Source+Serif+Pro|Trade+Winds&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
line-height: 1.1em;
}

body {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  color: #3c3c3b;  
  background-color: #ebebd3;
  padding-bottom: 2em;

}

aside {
  display: none;
  background-color: #f5d547;
  text-align: center;
  font-size: 1.5em;
  padding: .75em;
  margin-bottom:-10px;
  text-shadow: .05em .05em;
}
/********** Header area ***********/
/*********************************/
header, footer, main {
  margin: 15px auto;
  padding: 5px;
  /* width: 95%; */
}

header, footer {
  background-color: blue;
  color: #ebebd3;
}

header {
	margin-top: 10px;
	margin-bottom: 0;
	/* border-radius: 10px 10px 0 0; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.headings {
	display: flex;
	flex-direction: column;
}

.header__img {
  width: 100px;
  height: auto;

}

.header__subText {
	color: #f5d547;
	padding: 5px;
}


/******* Navigation area *******/
/*********************************/
nav {
  /* width: 95%; */
  margin: auto;
  /* border-radius: 0 0 10px 10px; */
	background-color: #3c3c3b;
	text-align: center;
  box-shadow: 0 2px 15px gray;
  padding: .5em;
}
.navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav ul li a {
	display: block;
	color: #ebebd3;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

nav a:hover {
	background-color: #bbb;
	color: #36454f;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

nav ul li a.active {
  color: #f5d547;
}

/******* Headline elements *******/
/*********************************/
h1, h2, h3, h4, h5, h6 {
	text-shadow: .5px .5px 0px black;
}

h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
  color: #3c3c3b; 
}

h1 {  
	font-family: 'Trade Winds', cursive;
  margin: 10px;
  
}

h2 {
  font-size: 1rem;
	text-align: center;
  padding: .5em;
  width: 90%;
  margin: 1em auto .5em auto;
  box-shadow: 1px 1px 3px #3c3c3b;  
}

/* Main area  */

.contentbox {
  display: block;
  margin: 0 auto 2em auto;
  padding: 10px;
  color: #444;
  font-style: italic;
  width:90%;
  height: auto;
  position: relative;
  box-shadow: 1px 1px 3px #3c3c3b; 
}

div.contentbox div img {
  width: 100%;
  height: auto;
  margin: auto;
}

#summary {
  max-width: 300px;
  margin-right: 33vw;
  position: absolute;
  top: 2em;
  left: 2em;
}

h3#fiveDayBanner, div.fiveDay #day1, #day2,
#day3, #day4, #day5  {
  display: none;
}

div .header {
  width: 100%;
  height: 4em;
  background-color: #1446a0;

}

article.contentbox img {
  display: block;
  width: 100%;
  margin: auto;
  height: auto;
}

div.author {
  width: 90%;
  margin: .2em auto;
  padding: .5em;
}

article h3, h5 {
  margin-right: 0;
  text-align: right;
}

article.contentbox p {
  width: 90%;
  margin: auto;
  text-align: justify;
  padding-bottom: 1em;
}

div.map {
  display: none;
}

div.contactInfo {
  padding: 1.5em;
  width: 250px;
  margin: auto;
}

div.contactInfo h3 {
  padding-bottom: 1em;
}

div.contactInfo div {
  padding: .5em;
}

div.social {
  display: flex;
}

div.social img {
  flex: 1;  
  padding: 5px;
}

footer {
	/* border-radius: 10px; */
  text-align: center;
  margin: 1em;
}

footer a {
  color: white;
}

footer p {
  padding: 1rem;
}


#lastMod {
  color: yellow;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}


