/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Muli|Righteous|Trade+Winds&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  max-width: 1280px;
  margin: auto;
  color: #3c3c3b;  
  background-color: #ebebd3;
}

header, footer, main {
  margin: 15px auto;
  padding: .75rem;
  width: 95%;
}

header, footer {
  background-color: blue;
  overflow: visible;
  color: white;
  text-align: center;
}

header {
  margin-top: 10px;
}

nav {
  width: 95%;
  margin: auto;
  border-radius: 10px;
	background-color: #3c3c3b;
	text-align: center;
  box-shadow: 0 2px 15px gray;
  padding: .5em;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #ebebd3;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}

section {
  padding: 1em;
  background-color: #ebebd3;
}

article {
  padding: 1em;
  background-color: #ebebd3;
}

.active {
  color: #f5d547;
  text-emphasis: bold;
}

h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
  color: #db3069; 
}

h1 {  
  font-family: 'Trade Winds', cursive;
  font-size: 3rem;
}

h2 {
  border-bottom: 2px solid black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.header__title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr;
}

.header__logo {
  grid-column: 1 / 2;
  grid-row: 1 /3;
  margin-right: 15px;
}

.header__img {
  max-width: 95%;
  height: auto;

}

.header__titleText {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.header__subText {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

div.domain__img img {
  max-width: 90%;
  height: auto;
  margin: auto;
}

div.logo__img img {
  max-width: 90%;
  height: auto;
  margin: auto;
}

footer a {
  color: white;
}

footer p {
  padding-bottom: .5rem;
}

#lastMod {
  color: yellow;
}

.typography li:nth-child(1) {
  font-family: 'Trade Winds', cursive;
}

.typography li:nth-child(2) {
  font-family: 'Righteous', cursive;
  color: #db3069;
}

#colorScheme {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#colorScheme svg {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: -1;
  margin: auto;
}
.colorDesc {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 3% 0 4%;
  margin: -300px;
  box-sizing: border-box;
  width: 95%;
  height: 50vh;
  margin: auto;
  list-style: none;
  justify-content: center;
}

.colorDesc li {
  box-sizing: border-box;
  text-align: center;
  background-color: #ebebd3;
  margin: 2%;
  font-size: 1.5em;
  padding: 5% 0;
  border: 3px solid black;
}

.colorDesc li:nth-child(1) {
  background-color: #1446a0;
  color: white;
}

.colorDesc li:nth-child(2) {
  background-color: #db3069;
  color: white;
}

.colorDesc li:nth-child(3) {
  background-color: #f5d547;
}

.colorDesc li:nth-child(4) {
  background-color: #ebebd3;
}

.colorDesc li:nth-child(5) {
  background-color: #3c3c3b;
  color: white;
}
